<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HASensorSmartspacerTarget">
        <activity
            android:name=".SetupActivity"
            android:exported="true"
            android:label="@string/setup_title" />

        <provider
            android:name=".HomeAssistantTarget"
            android:authorities="${applicationId}.target.homeassistant"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_TARGETS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.TARGET" />
            </intent-filter>
        </provider>

        <receiver
            android:name=".HomeAssistantUpdateReceiver"
            android:exported="true"
            android:permission="com.kieronquinn.app.smartspacer.permission.SEND_UPDATE_BROADCAST">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.REQUEST_TARGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>